.timePickerContainer {
    width: 600px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.timeButton {
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    width: 60px;
    height: 20px;
}

.dayButtons {
    width: 60px;
    height: 20px;
    border:  1px solid gray;
    color: gray;
}